groq_api_key ="your_groq_api_key"
news_api_key = "news_api_key"
database_url = "database_url"
openrouter_api_key = "your_openrouter_api_key"
openrouter_model = "your_openrouter_model"
groq_model = "your_groq_model"